<h3 class="mt-4 mb-4">Second Assignment : Practicing Data Binding</h3>
<ol>
  <li>
    Add a input field which updates a property ("Username") via Two-Way-Binding
  </li>
  <li>
    Ouput the username property via String Interpolation (in a paragraph below
    the input)
  </li>
  <li>
    Add a button which may only be clicked if the username is NOT an empty
    string
  </li>
  <li>
    Upon clicking the button , the username should be reset to an empty string
  </li>
</ol>

<div class="mt-5"></div>
<app-servers></app-servers>
