<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the App Component!</h3>
      <!-- <input type="text" [(ngModel)]="name" />
      <h4>{{ name }}</h4> -->

      <hr />

      <h3 class="mt-4">First Assignment : Praciticing Component</h3>
      <ol>
        <li>
          Create two new Component (manually or with CLI) : WarningAlert and
          SuccessAlert
        </li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Ouput a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/green text)</li>
      </ol>

      <p>Use External or Internal templates and styles !</p>
      <p>
        Feel free to create more components, nest the into each other or play
        around with different types of selectors
      </p>

      <hr />
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>

      <hr />

      <h3 class="mt-4">Second Assignment : Practicing Data Binding</h3>
      <ol>
        <li>
          Add a input field which updates a property ("Username") via
          Two-Way-Binding
        </li>
        <li>
          Ouput the username property via String Interpolation (in a paragraph
          below the input)
        </li>
        <li>
          Add a button which may only be clicked if the username is NOT an empty
          string
        </li>
        <li>
          Upon clicking the button , the username should be reset to an empty
          string
        </li>
      </ol>

      <!-- testing here at servers.component.html -->
      <div class="mt-5"></div>
      <app-servers></app-servers>

      <!-- <app-servers></app-servers> -->
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->

      <hr />
    </div>
  </div>
</div>
